.example-header-image {
  background-image: url("https://ssb.wiki.gallery/images/7/7b/Pok%C3%A9_Ball_Origin.png");
  background-size: cover;
}
.example-card {
  height: 50vh;
  width: 30vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.party {
  font-size: 2rem;
  margin-left: 1rem;
  color: #ffabf3;
}
