.player-pokemon {
  display: flex;
  justify-content: center;
}
.pokemon-button {
  background-color: #161215c8;
  font-size: 1.5rem;
  margin-bottom: 1vh;
}

.selected {
  border: 2px outset #ffabf3;
}
