.main {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.history-container {
  margin-top: 1rem;
  flex: 0 0 auto;
  width: 175px;
  margin-left: 1rem;
}

.player-container,
.computer-container {
  flex: 1 auto;
  min-width: 150px;
  max-width: 600px;
  min-height: 200px;
  height: auto;
}

.computer-container {
  margin-left: 5rem;
}
