<app-header />
<div class="main">
  <app-history-container class="history-container" />
  <div class="playmat">
    <div class="stage">
      <app-holding-container containerId="first" class="player-container"
        ><app-active-player-list
      /></app-holding-container>
      <app-battle-button />
      <app-holding-container containerId="second" class="computer-container"
        ><app-computer-container
      /></app-holding-container>
    </div>
    <app-winner-box class="results" />
  </div>
</div>
<app-footer />
