.example-header-image {
  background-image: url("https://ssb.wiki.gallery/images/7/7b/Pok%C3%A9_Ball_Origin.png");
  background-size: cover;
}

.example-card {
  height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.options {
  position: absolute;
  bottom: 0;
}
.counter {
  position: absolute;
  bottom: 3rem;
  right: 1.5rem;
  font-size: 2rem;
  color: #ffabf3;
  border: #ffabf3 solid 2px;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
}
